@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<h1>@CurrentPage.Name</h1>
<img src="@CurrentPage.pageImage"></img>
	@CurrentPage.bodyText
	